<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinyuewulian.mapper.ParamMapper">
  <resultMap id="BaseResultMap" type="com.xinyuewulian.entity.Param">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="param_code" jdbcType="VARCHAR" property="paramCode" />
    <result column="param_name" jdbcType="VARCHAR" property="paramName" />
    <result column="param_value" jdbcType="VARCHAR" property="paramValue" />
    <result column="param_type" jdbcType="INTEGER" property="paramType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, param_code, param_name, param_value, param_type
  </sql>
</mapper>