<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinyuewulian.mapper.RecordMapper">
  <resultMap id="BaseResultMap" type="com.xinyuewulian.entity.Record">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="record_address" jdbcType="VARCHAR" property="recordAddress" />
    <result column="record_store" jdbcType="INTEGER" property="recordStore" />
    <result column="record_date" jdbcType="TIMESTAMP" property="recordDate" />
    <result column="record_operator" jdbcType="INTEGER" property="recordOperator" />
    <result column="record_type" jdbcType="INTEGER" property="recordType" />
    <result column="record_company" jdbcType="VARCHAR" property="recordCompany" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, record_address, record_store, record_date, record_operator, record_type, record_company
  </sql>

  <resultMap id="BoBaseResultMap" type="com.xinyuewulian.bo.RecordBo" extends="BaseResultMap">
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="modify_user" property="modifyUser" jdbcType="VARCHAR" />
    <result column="store_name" property="storeName" jdbcType="VARCHAR" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
  </resultMap>

  <select id="queryRecordList"   resultMap="BoBaseResultMap" parameterType="com.xinyuewulian.vo.RecordVo">
    SELECT t.*,u.user_name as modify_user ,s.store_name,ty.type_name,us.user_name as create_user from m_record t
	 left JOIN m_user u  on u.id = t.record_operator
     left JOIN m_store s on s.id = t.record_store
     LEFT JOIN m_type ty on ty.id = t.record_type
     LEFT JOIN m_user us on us.id = s.user_id where 1=1
    <if test="recordStore !=null  and recordStore !='' ">
      and t.record_store =  #{recordStore, jdbcType=INTEGER}
    </if>
    <if test="createUser !=null  and createUser !='' ">
        and  (us.id = #{createUser, jdbcType=INTEGER} or u.id=#{createUser, jdbcType=INTEGER})
    </if>
    <if test="keyWords !=null  and keyWords !='' ">
        and
        instr(concat(
        ifnull(t.record_address, ''),
        ifnull(t.record_company, ''),
        ifnull(u.user_name, ''),
        ifnull(us.user_name, ''),
        ifnull(store_name, ''),
        ifnull(type_name, '')
        ), #{keyWords, jdbcType=VARCHAR})>0
    </if>
  </select>
</mapper>