<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div th:replace="includes/modules :: navigation"/>

    <div class="row-content am-cf">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title am-fl">序列类型新增</div>
                </div>
                <div class="widget-body am-fr">
                    <form class="am-form tpl-form-border-form tpl-form-border-br" id="serialTypeForm" >
                        <div class="am-form-group">
                            <label   class="am-u-sm-3 am-form-label">序列类型编码<span class="tpl-form-line-small-title">序列类型编码</span></label>
                            <div class="am-u-sm-9">
                                <input type="text" class="tpl-form-input" name="serialTypeCode" th:attr="link=${serialTypeCodeValidateUrl}"  required="true" minlength="3"    placeholder="输入序列类型编码（至少 3 个字符）"/>
                                <small>请填写序列类型编码。</small>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label   class="am-u-sm-3 am-form-label">序列类型名称<span class="tpl-form-line-small-title">序列类型名称</span></label>
                            <div class="am-u-sm-9">
                                <input type="text" class="tpl-form-input" name="serialTypeName"  required="true" minlength="3"    placeholder="输入序列类型名称（至少 3 个字符）"/>
                                <small>请填写序列类型名称。</small>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label   class="am-u-sm-3 am-form-label">序列类型前缀<span class="tpl-form-line-small-title">序列类型前缀</span></label>
                            <div class="am-u-sm-9">
                                <input type="text" class="tpl-form-input" name="serialTypePrefix"  required="true" minlength="1"    placeholder="输入序列类型名称（至少 1 个字符）"/>
                                <small>请填写序列类型前缀。</small>
                            </div>
                        </div>


                        <div class="am-form-group">
                            <label   class="am-u-sm-3 am-form-label">状态<span class="tpl-form-line-small-title">状态</span></label>
                            <div class="am-u-sm-9">
                                <select data-am-selected="{btnSize: 'sm'}" required="" name="state">
                                    <option value="option2" th:each="ptm :${stateMap}" th:value="${ptm.key}" th:text="${ptm.value}">state</option>
                                </select>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label   class="am-u-sm-3 am-form-label">时间格式<span class="tpl-form-line-small-title">时间格式</span></label>
                            <div class="am-u-sm-9">
                                <input type="text" class="tpl-form-input" name="timestampFormat"     placeholder="输入序列类型时间格式"/>
                                <small>请填写序列类型时间格式。</small>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label   class="am-u-sm-3 am-form-label">递增长度(几位数字)<span class="tpl-form-line-small-title">递增长度(几位数字)</span></label>
                            <div class="am-u-sm-9">
                                <input type="number" class="tpl-form-input" name="serialLen"     placeholder="输入序列类型递增长度(几位数字)"/>
                                <small>请填写序列类型递增长度(几位数字)。</small>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label   class="am-u-sm-3 am-form-label">分隔符<span class="tpl-form-line-small-title">分隔符</span></label>
                            <div class="am-u-sm-9">
                                <input type="text" class="tpl-form-input" name="split"     placeholder="输入序列类型分隔符"/>
                                <small>请填写序列类型分隔符。</small>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button type="button" class="am-btn am-btn-primary btn-loading-example "
                                        data-am-loading="{spinner: 'circle-o-notch', loadingText: '提交中...'}" th:attr="link=${saveUrl}" id="btnSubmit">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../static/serial/type/js/add.js" th:src="@{/static/serial/type/js/add.js}"  ></script>
</body>
</html>