<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:replace="includes/modules :: navigation"/>

    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">交易流水列表</div>
                    </div>
                    <!--左侧按钮-->
                    <div class="widget-body  am-fr">
                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                            <div class="am-form-group">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <!--<button type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>-->
                                        <!--<button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>-->
                                        <!--<button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>-->
                                        <!--<button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--搜索框-->
                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                            <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                <input type="text" class="am-form-field" name="keyWords" th:value="${keyWords}" />
                                <span class="am-input-group-btn">
                                    <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search search-keyWords"
                                            type="button" id="keyWordsBtn"  th:attr="link=${ contentUrl + pageInfo.pageSize +'/' + pageInfo.pageNum }" ></button>
                                </span>
                            </div>
                        </div>

                        <div class="am-u-sm-12">
                            <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black  dataTable"
                                   id="example-r">
                                <thead>
                                <tr>
                                    <th class="sorting">货物</th>
                                    <th class="sorting">地址</th>
                                    <th class="sorting">公司</th>
                                    <th class="sorting_desc">时间</th>
                                    <th class="sorting">货物所属</th>
                                    <th class="sorting">操作人</th>
                                    <th class="sorting">执行动作</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr  th:each="record,recordStat : ${list}" class="gradeX" >
                                    <td th:text="${record.storeName}">AAAA苹果</td>
                                    <td th:text="${record.recordAddress}">中国天津市滨海新区晓园街16号</td>
                                    <td th:text="${record.recordCompany}">AAAA苹果</td>
                                    <td th:text="${#dates.format(record.recordDate,'yyyy-MM-dd HH:mm')}">2016-09-26</td>
                                    <td th:text="${record.createUser}">XXX</td>
                                    <td th:text="${record.modifyUser}">XXX</td>
                                    <td th:text="${record.typeName}">入库</td>
                                    <!--<th th:text="${userStat.index}">状态变量：index</th>-->
                                    <!--<th th:text="${userStat.count}">状态变量：count</th>-->
                                    <!--<th th:text="${userStat.size}">状态变量：size</th>-->
                                    <!--<th th:text="${userStat.current.userName}">状态变量：current</th>-->
                                    <!--<th th:text="${userStat.even}">状态变量：even****</th>-->
                                    <!--<th th:text="${userStat.odd}">状态变量：odd</th>-->
                                    <!--<th th:text="${userStat.first}">状态变量：first</th>-->
                                    <!--<th th:text="${userStat.last}">状态变量：last</th>-->
                                </tr>
                                <tr class="odd" th:if="${pageInfo.size eq 0 }"><td valign="top" colspan="7" class="dataTables_empty">表中数据为空</td></tr>
                                <!-- more data -->
                                </tbody>
                            </table>
                        </div>

                        <div th:replace="includes/modules :: pageDiv"/>
                        <!--<div class="am-u-lg-12 am-cf" th:if="${pageInfo.size ne 0 }">-->
                            <!--<div class="am-fr">-->
                                <!--<ul class="am-pagination tpl-pagination">-->
                                    <!--<li th:class="${!pageInfo.hasPreviousPage}? 'am-disabled' " >-->
                                        <!--<a href="#" th:class="${pageInfo.hasPreviousPage}? 'reload' "  th:attr="link=${contentUrl + pageInfo.pageSize +'/' + pageInfo.prePage}">«</a>-->
                                    <!--</li>-->
                                    <!--<li th:each="i : ${#numbers.sequence( 1, pageInfo.pages)}"   th:class="${i eq pageInfo.pageNum}? 'am-active' " >-->
                                        <!--<a href="#" class="reload"   th:attr="link=${ contentUrl+ pageInfo.pageSize +'/' + i }"   th:text="${i}"></a>-->
                                    <!--</li>-->
                                    <!--<li th:class="${!pageInfo.hasNextPage}? 'am-disabled' " >-->
                                        <!--<a href="#" th:class="${pageInfo.hasNextPage}? 'reload' "  th:attr="link=${ contentUrl + pageInfo.pageSize +'/' + pageInfo.nextPage}">»</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../static/index/js/content.js" th:src="@{/static/index/js/content.js}" ></script>
</body>
</html>